*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch{
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}